{% set enabled = node.daemons | default([]) %}
zebra=yes
mgmtd=yes
bgpd={{ 'yes' if 'bgpd' in enabled else 'no' }}
ospfd={{ 'yes' if 'ospfd' in enabled else 'no' }}
ospf6d=no
ripd=no
ripngd=no
isisd=no
pimd=no
pim6d=no
ldpd={{ 'yes' if 'ldpd' in enabled else 'no' }}
nhrpd=no
eigrpd={{ 'yes' if 'eigrpd' in enabled else 'no' }}
babeld=no
sharpd=no
pbrd=no
bfdd={{ 'yes' if 'bfdd' in enabled else 'no' }}
fabricd=no
vrrpd={{ 'yes' if 'vrrpd' in enabled else 'no' }}
pathd=no
staticd=yes

vtysh_enable=yes
zebra_options="  -A 127.0.0.1 -s 90000000"
mgmtd_options="  -A 127.0.0.1"
bgpd_options="   -A 127.0.0.1"
ospfd_options="  -A 127.0.0.1"
ldpd_options="   -A 127.0.0.1"
eigrpd_options=" -A 127.0.0.1"
bfdd_options="   -A 127.0.0.1"
vrrpd_options="  -A 127.0.0.1"
staticd_options="-A 127.0.0.1"
